
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

input::placeholder {
  font-weight: 400;
  color: #8f8f8f;
  opacity: 0.5;
  font-size: 1rem;
  // color: red;
}

ul,ol {
  list-style: none;
}

.container {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
}

.header {
  margin-bottom: 32px;
  margin-top: 32px;
  &__logo {
    width: 160px;
  }
}

.content {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  &__aside {
    flex: 0 0 354px;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
  }
  &__main {
    flex: 1;
  }
}

.aside {

  &__search {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem 1rem 4rem;
    position: relative;
    border-bottom: 1px solid #dfdfdf;
  }
  &__search-icon {
    width: 24px;
    position: absolute;
    left: 24px;
  }
  &__search-input {
    border: none;
    outline: none;
    font-size: 1rem;
    color: #333333;
    width: 100%;
    
  }
  &__box {
    padding-left: 24px;
    padding-right: 24px;
    // margin-bottom: 16px;
    border-bottom: 1px solid #dfdfdf;
  }
  &__header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 10px;
  }
  &__header-name {
    max-width: 180px;
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 600;
    color: #000000;
    &--desc {
      font-weight: 400;
      font-size: 1rem
    }
  }
  &__header-filter {
    color: #3c7c43;
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #3c7c43;
      position: absolute;
    }
  }
  &__content-box {
    height: 240px;
    margin-right: -24px;
    overflow-y: scroll;
  }
  &__input-wrap {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
  }
  &__input-check {
    display: none;
    &:checked ~ .aside__input-btn {
      border-color: #3c7c43;
      background-color: #3c7c43;
    }
    &:checked ~ .aside__input-btn--radio:after {
      content: "";
      display: block;
      border-radius: 100%;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border: 3px solid #abc4ae;
    }
  }
  &__input-btn {
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 0px;
    margin-right: 0.75rem;
    margin-left: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    &--radio {
      border-radius: 100%;
      position: relative;
    }
  }
  &__input-icon {
    width: 12px;
    height: 12px;
  }
}

//MAIN 
.main {

  &__top {
    padding: 16px 16px;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  &__top-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }
  &__top-list-item {
    display: flex;
    align-items: center;
    
    background-color: #3c7c43;
    color: #fff;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 8px 12px 8px 16px;
    &--first {
      background-color: transparent;
      color: #8f8f8f;
      padding-left: 0;
      font-size: 16px;

    }
  }
  &__top-list-close {
    width: 12px;
    height: 12px;
    margin-left: 8px;
    cursor: pointer;
  }
  &__top-sort {
   
    flex: 0 0 192px;
    height: 41px;
    padding: 8px 16px;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    margin-left: auto;
    position: relative;
  }
  &__top-dropdown {
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    &.hide {
      display: none;
    }
  }
  &__top-drop-item {
    margin-bottom: 0px;
    padding: 1rem 2rem 1rem 1.5rem;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  &__top-inner-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #222222;
    cursor: pointer;
  }
  &__top-icon-sort {
    width: 20px;
  }
  &__products {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

//CARD

.card {
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  display: flex;
  color: #000000;
  &__img {
    width: 40%;
  }
  &__body {
    width: 60%;
    padding: 24px;
  }
  &__title {
    font-size: 1.2rem;
    display: flex;
    font-weight: 400;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  &__title-date {
    color: #3c7c43;
    font-size: 1rem;
  }
  &__price {
    font-size: 1.75rem;
    font-weight: 600;
    margin: 16px;
  }
  &__info {
    font-size: 0.875rem;
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px ;
  }
  &__info-name {
    margin-bottom: 8px;
    font-size: 0.875rem;
    font-weight: 500;
  }
  &__info-value {
    padding: 0.5rem 1rem;
    background-color: rgba(218, 228, 216, 0.4);
    font-size: 0.875rem;
  }
}






.range-slider {
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 20px;
  &__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -2%;
    margin-right: -2%;
  }

  .css-187mznn-MuiSlider-root {
    color:#90c396 ;
  }
  .MuiSlider-valueLabel.css-nnid7-MuiSlider-valueLabel {
    display: none;
  }

  
}