@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #f6f7f1;
  font-weight: 400;
}
